#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 60px; 
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.custom-navbar{
  background-color: aquamarine !important;
}
.custom-navbar>div>a{
  color: black !important;
}
.custom-nav-item{
  color: black !important;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.content {
  flex: 1; 
  padding: 20px;
  background-color: #fff;
  text-align: center;
}
.carousel-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  margin: 50px auto; 
  width: 80%; 
}

body {
  margin: 0;
  padding: 0;
  background-image: url('https://cdna.artstation.com/p/assets/images/images/028/291/044/large/jorge-hardt-wallpaper-asus-rog-neon-red.jpg?1594052932'); /* URL del fondo */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Arial', sans-serif;
}

